body {
	background-color: black;
	color: white;
}

h1 {
	font-family: Limelight; 
	font-size: 75px;
}

#startGame {
	height: 100px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	background-color: red;
	padding: 20px;
	text-align: center;
	vertical-align: center;
}

#results {
	margin-top: 30px;
}

table {
	border-collapse: collapse;
}

th {
	color: white;
	background-color: red;

}

tr {
	height: 25px;
}

button {
	background-color: blue;
	color: white;
}
