body {
	font-family: courier;
}

#header h1 {
	font-family: 'Qwigley', cursive;
	font-size: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#footer {
	text-align: center;
	height: 75px;
}

#nav {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#nav a{
	padding: 15px;
}



