body {
	font-family: courier;
}

.page-header {
	font-family: 'Qwigley', cursive;
	margin-top: 30px;
	margin-bottom: 0px;
	text-align: center;
}

.page-header h1 {
	font-size: 75px;
}

.jumbotron {
	padding: 40px;
}

.img-responsive {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 400px;
	padding-bottom: 30px;
}

#footer {
	text-align: center;
	height: 75px;
}


