.table-centered {
	margin: 0 auto;
	float: none;
}

.table {
	width: 75%;
	margin-bottom: 50px;
}

.table-bordered {
	color: black;
}

th {
	background-color: #D7B936;
}

td {
	color: green;
	font-size: 15px;
	font-style: italic;
}

h1 {
	text-align: center;
}

h5 {
	text-align: center;
}

#bandPageLink {
	text-align: center;
}

a:link {
	color: green;
	text-decoration: none;
	font-size: 30px;
}

a:hover {
	background-color: blue;
	text-decoration: underline;
}

a:visited {
	color: green;
	text-decoration: none;
}

a:active {
	color: green;
	text-decoration: none;
}

body {
	background-color: black;
	color: #D7B936;
	font-family: verdana;
}

ul {
	font-style: italic;
	margin-left: 140px;
}

h1, h3 {
	font-family: 'kino', 'copperplate', 'impact' fantasy;
	text-align: center;
}