body {
	font-family: courier;
}

#header h1 {
	font-family: 'Qwigley', cursive;
	font-size: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#nav a:link {
	color: black;
	text-decoration: underline;
}

#nav a:visited {
	color: #90C3D4;
	text-decoration: underline;
}

#nav a:hover {
	color: black;
	font-weight: 900;
	text-decoration: underline;
}

#nav a:active {
	color: black;
	text-decoration: none;
}

#nav {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#nav a{
	padding: 15px;
}

#footer {
	text-align: center;
	height: 75px;
}
